body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-image: url("../src-tauri/icons/icon.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #0b0e14;
  overflow: hidden;
}